/*--color scheme
#173B45
#B43F3F
#FF8225
#F8EDED
--*/
* {
  font-family: "bitter";
  box-sizing: border-box;
  margin: 0px;
}
header {
  padding: 0 60px;
  background-color: #173b45;
  display: flex;
  justify-content: space-between;
  height: 5%;
  color: white;
}
header .list {
  display: inline-flex;
}
header .list div {
  margin: 5px;
}
.container {
  background-color: white;
  padding: 20%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 30%;
}
.container .items {
  width: 50%;
}
div img {
  width: 200%;
  height: 80%;
}
.third {
  background-color: #f8eded;
  height: 30%;
  width: 100%;
  padding: 5%;
}
.third .flex-items {
  display: flex;
  justify-content: space-between;
}
.flex-items button {
  background: #173b45;
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
.flex-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
.flex-images img {
  width: 30%;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  margin: 7px;
}
.fourth {
  padding: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: lightblue;
  width: 100%;
}
.fourth .heading {
  width: 30%;
}
.fourth .buttons {
  width: 30%;
}
.fourth .buttons button {
  border-radius: 5px;
  width: 100px;
  margin-left: 10px;
}
.fourth .buttons button:nth-child(1) {
  color: #173b45;
  border: none;
}

.fourth .buttons button:nth-child(2) {
  background-color: #173b45;
  border: none;
  color: white;
}
.fifth {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
}
.fifth .imgs {
  display: inline-flex;
}
.fifth .imgs img {
  color: #173b45;
}
@media screen and (max-width: 412) {
  .container {
    background-color: white;
    padding: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 30%;
    background-image: url(icons8-hamburger-menu-50.png);
  }
}
